@import "src/styles/variables";

.c-button {
    color: $main-color;
    background-color: $button-color;
    border-radius: $size-m;
    cursor: pointer;
    font-size: $size-m;
    padding: $size-m $size-xl;
    border: $size-hairline solid $main-color;
    text-decoration: none;
    line-height: $size-xxl;

  &:hover {
    background-color: rgba($button-color, 0.8);
  }

  &:active {
    position: relative;
    top: $size-hairline;
  }
}
