<div class="note" *ngIf="language">
    <div class="note__content">
        <ng-container *ngIf="secondsLeft | async as secondsLeft">
            <div *ngIf="secondsLeft  && secondsLeft  > 0; else ceremonyStarted"  class="u-margin-bottom--m">
                <span class="u-margin-bottom--m"> {{ 'title' | langTranslate : language }}</span>
                <div *ngIf="secondsLeft  | toTimeDelta as timeDelta" class="u-margin-bottom--m">
                    <div><strong>{{timeDelta.days}}</strong> {{ 'days' | langTranslate : language}}</div>
                    <div><strong>{{timeDelta.hours}}</strong> {{ 'hours' | langTranslate : language}}</div>
                    <div><strong>{{timeDelta.minutes}}</strong> {{ 'minutes' | langTranslate : language}}</div>
                    <div><strong>{{timeDelta.seconds}}</strong> {{ 'seconds' | langTranslate : language}}</div>
                </div>
            </div>
        </ng-container>
        <a class="c-button" target="_blank" rel="noopener noreferrer" href="{{liveHref}}">
            {{ 'watchLive' | langTranslate : language }}
        </a>
    </div>
    <ng-template #ceremonyStarted>
        <div   class="u-margin-bottom--m">{{ 'ceremonyStarted' | langTranslate : language}}</div>
    </ng-template>
</div>
